**Variables:** Fundamental element used to store data.

In [1]:
a = 100
# a is a variable

In [2]:
print(a)

100

**Declaring and Assigning Variables**

In [4]:
age = 23
height = 5.9
name = "Pankaj"
is_student = True

print("Age:",age)
print("Height:",height)
print("Name:",name)

Age: 23
Height: 5.9
Name: Pankaj

**Naming Conventions**
1. Descriptive
2. Always start with letter or _ and contians letter, number, underscores
3. Variable name are case sensitive

In [5]:
first_name='Pankaj'
last_name = 'Kanyal'

**Variables Type**
1. Integer - age
2. Float - height
3. String - name
4. Boolean - is_student

In [6]:
type(height)

float

**Type-Conversion or Typecasting**

In [7]:
age = 25
print(type(age))

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [8]:
age = '25'
print(type(int(age)))

<class 'int'>

In [9]:
name = 'Pankaj'
print(type(int(name)))

ValueError: invalid literal for int() with base 10: 'Pankaj'

In [10]:
height = 5.10
type(height)

float

In [11]:
float(int(height))

5.0

**Dynamic Typing:** Python allows the type of variable to change as the program execute

In [13]:
var = 10
print(10)
var = 'abced'
print(var)

10
abced

In [15]:
age = int(input('What is the age'))
print(age,type(age))

What is the age 23

23 <class 'int'>