In [1]:
import pandas as pd
df = pd.read_csv('weather_data.csv')

In [ ]:
df = pd.read_csv('weather_data.xlsx','Sheet1')

In [2]:
df = pd.DataFrame({
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
})

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [4]:
#list of tuples
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Show')
]

df = pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event'])

In [5]:
# list of dictionaries
weather_data = [
    {'day':'1/1/2017','temperature':32, 'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature':35, 'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28, 'windspeed':2,'event':'Snow'}
]

df = pd.DataFrame(weather_data)

In [6]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow