In [1]:
# function with multiple parameters

def add(a,b):
    return a+b

result = add(2,4)
print(result)

6

In [2]:
## Default Paramters

def greet(name):
    print(f'Hello {name} Welcome to paradise')

greet('Krish')

Hello Krish Welcome to paradise

In [3]:
## Variable length arguments
# Positional
# Keyword

def print_numbers(*args):
    for numbers in args:
        print(numbers)

In [5]:
print_numbers(1,2,3,4,'Krish')

1
2
3
4
Krish

In [6]:
## Keyword Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}:{value}')

In [7]:
print_details(name='Krish',age='32',country='India')

name:Krish
age:32
country:India

In [8]:
def print_details(*args, **kwargs):
    for w in args:
        print(f'Positional args : {w}')
    
    for key,value in kwargs.items():
        print(f'{key}:{value}')

In [9]:
print_details(1,2,3,4,name='krish',age='32',country='India')

Positional args : 1
Positional args : 2
Positional args : 3
Positional args : 4
name:krish
age:32
country:India

In [11]:
## Return Statement
def multiply(a,b):
    return a*b,a,b

multiply(10,20)

(200, 10, 20)

In [12]:
## function example

# 1. Temperature Conversion

def convert_temp(temp,unit):
    """This function converts temperature between celsius and fahrenheit"""

    if unit=='C':
        return temp*9/5 + 32
    
    elif unit=='F':
        return (temp-32)*5/9
    
    else:
        return None

In [17]:
print(convert_temp(25,'C'))

77.0

In [16]:
print(convert_temp(113,'F'))

45.0

In [18]:
def strong_password(password):
    """Check if password is strong"""
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+=' for char in password):
        return False
    
    return True

print(strong_password("WeekPwd"))

False

In [19]:
print(strong_password("Strongpass1223@"))

True

In [21]:
def calculate_total_cost(cart):
    total_cost = 0
    for item in cart:
        total_cost+= item['price']*item['quantity'] 
    return total_cost

cart = [{'name':'Apple','price':0.5,'quantity':4},
        {'name':'Banana','price':0.3,'quantity':6},
        {'name':'Orange','price':0.7,'quantity':3}]

total_cost = calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

In [23]:
def is_palindrome(s):
    s = s.lower().replace(" ","")
    return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome('Hello'))

True
False

In [24]:
## Factorial of number using recursion
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

In [25]:
factorial(10)

3628800

In [26]:
factorial(3)

6

In [ ]:
def count_word_frequency(file_path):
    word_count = {}
    with open(file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:"\'')
                word_count[word] = word_count.get(word,0)+1
    return word_count

filepath = 'sample.txt' 
word_frequency = count_word_frequency(filepath)
print(word_frequency)

{'hello': 2, 'this': 1, 'is': 1, 'just': 1, 'a': 2, 'sample': 1, 'file': 2, 'normal': 1, 'text': 1, 'for': 1, 'file-handling': 1, 'purpose': 1}

In [29]:
## Validate email_address
import re

def is_valid_email(email):
    """The function check that email is valid or not"""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern,email) is not None

print(is_valid_email('text@example.com'))
print(is_valid_email('invalid-email'))

True
False

### Lambda Function 
Anonymous functions defined using the lambda keyword, have any number of arguments but only one expression.

In [30]:
# syntax
lambda arguments: expression

In [31]:
def addition(a,b):
    return a+b

In [32]:
addition(2,3)

5

In [33]:
addition = lambda a,b:a+b

In [34]:
type(addition)

function

In [35]:
addition(5,6)

11

In [37]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [38]:
even_odd = lambda x:x%2==0
even_odd(2)

True

In [39]:
addition1 = lambda *args: sum(args)

In [40]:
addition1(2,3,4)

9

In [41]:
numbers = [1,2,3,4,5,6]

def square(number):
    return number**2

In [42]:
# map it applies a function to all element in the list
sq = lambda x:x**2

In [44]:
list(map(sq,numbers))

[1, 4, 9, 16, 25, 36]

In [45]:
# Map functions
def square(x):
    return x*x

square(10)

100

In [46]:
numbers = [1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [50]:
# Map multiple iterables
numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y:x+y,numbers1,numbers2))

In [51]:
print(added_numbers)

[5, 7, 9]

In [52]:
words = ['apple','banana','cherry']
upper_words = list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [53]:
def get_name(person):
    return person['name']

people = [
    {'name':'Krish','age':32},
    {
        'name':'Jack',
        'age':33
    }
]

list(map(get_name, people))

['Krish', 'Jack']

In [54]:
## Filter functions
# filter out items from a list based on a condition

def even(num):
    if num%2==0:
        return True

In [55]:
even(24)

True

In [60]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

list(filter(even,lst))

[2, 4, 6, 8, 10, 12, 14]

In [62]:
# filter with lambda
greater_than_five = list(filter(lambda x: x>5,lst))
print(greater_than_five)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [63]:
## filter with lambda and multiple conditions
numbers = [1,2,3,4,5,6,7,8,9]
even_and_greater_than_five = list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [ ]:
age_greater_twenty_five = list(filter(lambda x:x['age']>5,people))
print(age_greater_twenty_five)

[{'name': 'Krish', 'age': 32}, {'name': 'Jack', 'age': 33}]