In [ ]:
print("Hello-World")

### PYTHON BASIC SYNTAX AND SEMANTICS

In [ ]:
# Basic Syntax
### Case Sensitivity
"""
Python is case sensitive
"""

name = "krish"
Name = "Naik"
print(name)
print(Name)

In [ ]:
## Indentation
## Python define code blocks using indentation

age = 32
if age > 30:
    print(age)
print(age)

In [ ]:
## Single LIne comment
print("Hello World")

In [ ]:
## Line Continuation
total = 1+2+3+4+\
    5+6
print(total)

In [ ]:
## Multiple Statements on a single-line
x=5;y=10;z=x+y
print(z)

In [ ]:
## Understanding Semnatics in Python

#Variable Assignment
age = 32 # age is integer
name = "Krish" # name is string

In [ ]:
type(age)

In [ ]:
type(name)

In [ ]:
## Type Inferencing
variable = 10
print(type(variable))
variable = "Krish"
print(type(variable))

In [ ]:
## code example of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This is out print")
    
    print("This will be print")
print("Outside the if book")

### VARIABLE IN PYTHON

In [ ]:
a = 100

In [ ]:
## Declaring and assiging variable
age = 32
height = 6.1
name="Krish"
is_student=True

## Printing the variables
print("age:",age)
print("Height:",height)
print("Name:",name)

In [ ]:
## Naming convention
# Variable name should be desrriptive
# Start with letter or underscore _, containe letter,number, underscores
# Variable names are case-sensitive

"""
illegal assiging
2age = 10
first-name='krish'
@name = krish
"""

In [ ]:
## Case sensitivity
name = "Krish"
Name = "Naik"
print(name," ",Name)

In [ ]:
## Understanding variables types
# Python is dynamically types mean type of variable is determined at runtime.

age = 25 #int
height= 6.1 #float
name = "Krish" #string
is_student=True # bool

print(type(name))

In [ ]:
## Type Checking and Conversion
age = 25
print(type(age))

# Type-conversion
age_str = str(age)
print(age_str, type(age_str))

In [ ]:
name = "krish"
height = 6.1
print(type(height))

In [ ]:
## Dynamic Typing
# Python allows the tpe of variable to change as the program executes
var = 10
print(var, type(var))
var = "hello"
print(var, type(var))
var = 10.11
print(var, type(var))

In [ ]:
## Input 
age = input("What is the age")
print(age)

### Basic Data-types in Python

In [ ]:
## Integers example
age = 35
print(type(age))

In [ ]:
## Floating point 
height = 5.10
print(height, type(height))

In [ ]:
## string
name = "Krish"
print(type(name))

In [ ]:
## boolean 
True

In [ ]:
type(True)

In [ ]:
is_True = bool()

In [ ]:
bool()

In [ ]:
a = 10
b = 10
type(a==b)

In [ ]:
## common errors

# 1. TypeError 
# 2. Import Error
# 3. NameError
# 4. AttributeError
# 5. IndentationError
# 6. Syntax Errors
# 7. KeyError
# 8. Runtime Error

### Operators in Python
1. Arithematic [ + , - , *, /, //]
2. Comparison [<, <=, >, >=, ==]
3. Logical [!, ~, &, |]

In [ ]:
a = 10
b = 5
add_res = a+b
sub_res = a-b
div_res = a/b
float_div_res = a//b
mul_res = a*b
modulus_res = a%b
exp_res = a**b

operations = [add_res, sub_res, div_res, float_div_res, mul_res, modulus_res, exp_res]
print(operations)

In [ ]:
21/5

In [ ]:
21//5

In [ ]:
## Comparison operators
## == 
a = 10
b = 10

a==b

In [ ]:
str1 = 'krish'
str2 = 'krish'

str1 == str2

In [ ]:
# Not equal to 
str1 != str2

In [ ]:
str3 = 'Krish'
str3 != str2

In [ ]:
# Greater than
num1 = 45
num2 = 55

num1 > num2

In [ ]:
# Less than
num1 < num2

In [ ]:
# greater than or equal to 
number1 = 45
number2 = 45

number1 >= number2

In [ ]:
print(number1 <= number2)

In [ ]:
## LOGICAL OPERATORS
# And, Not, Or

X = True
Y = True

result = X & Y

In [ ]:
print(result)

In [ ]:
print(not result)

In [ ]:
X = False
Y = False

# OR
print(X | Y)

In [ ]:
X = True
not X

### Conditional Statements (IF, ELSE, ELIF)

In [ ]:
# if statement
age = 20

if age >= 18:
    print("You are allowed to vote in elections")

In [ ]:
## else statement
# if get false then flow move to else
if age < 18 and age >= 1:
    print("MINOR")
else:
    print("ADULT")

In [ ]:
## elif multiple checks in statements

if age < 13:
    print("Child")
elif age < 18:
    print('Teenager')
else:
    print('Adult')

In [ ]:
## Nested Conditional Statements
num = int(input("Enter the number"))

if num >= 0:
    print('The number is +ve')
    if num%2 == 0:
        print('The number is even')
    else:
        print('The number is odd')
else:
    print('The number is -ve')
    print('The number is odd') if num%2==0 else print('The number is odd')

In [ ]:
## Practical Example Conditional Statements

# Determine a year is leaf year or not

year = int(input('Enter the Year'))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, 'is a leap year')
        else:
            print('Not a leap year')
    
    else:
        print(year, 'is a leap year')

else:
    print(year, 'is not a leap year')

### LOOPS IN PYTHON

In [ ]:
range(5)

In [ ]:
# for loop
for i in range(5):
    print(i)

In [ ]:
for i in range(1,6):
    print(i)

In [ ]:
range(1,10,1)

In [ ]:
for i in range(1,10,2):
    print(i)

In [ ]:
for i in range(10,1,-2):
    print(i)

In [ ]:
# strings

str = 'Krish Naik'
for i in str:
    print(i)

In [ ]:
# while-loop
# Continues to execute as long as the condition is True.

count = 0
while count < 5:
    print(count)
    count +=1

In [ ]:
count = 0

while count%2 == 0:
    print(count)
    count = count + 1

In [ ]:
## Loop-control statements
# 1. Break-> exit loop pre-maturely
# 2. Continue -> help in skipping iteration and move with next iterations
# 3. pass -> It does nothing in some conditions help in just pass

for i in range(10):
    if i==5:
        break
    print(i)

In [ ]:
for i in range(10):
    if i==5:
        continue
    print(i)

In [ ]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

In [ ]:
for i in range(5):
    if i==3:
        pass
    print(i)

In [ ]:
# Nested Loops: Loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i}, j:{j}")

In [ ]:
## Examples: Calculate the sum of 1st N natural numbers using while loop
n = 10
sum = 0
count = 1
while count <= n:
    sum = sum + count
    count+=1

print(f'Sum of {n} natural numbers is {sum}')

In [ ]:
sum = 0
for i in range(11):
    sum = sum+i

print(f'Sum of {n} natural numbers is {sum}')

In [ ]:
## Example Prime numbers between 1 to 100

for num in range(1101):
    if num > 1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

### LISTS and LIST Comprehension in PYTHON

In [ ]:
# List : ordered and mutable, can contain multiple data-types

lst = []
print(type(lst))

In [ ]:
names = ['Krish','Jack','Jacob',1,2,3,4,5]
print(names)

In [ ]:
mixed_list = [1,'two',3.0,True]
print(mixed_list)

In [ ]:
## Accessing list elements
fruits =['Apple','Banana','Cherry','Kiwi','Gauva']
fruits[2]

In [ ]:
fruits[-1]

In [ ]:
print(fruits[4])

In [ ]:
print(fruits[1:])

In [ ]:
print(fruits[1:3])
print(fruits[-2:])

In [ ]:
## Modify List Elements
fruits

In [ ]:
print(fruits[1])

In [ ]:
fruits[-1:] = "Watermelon"

In [ ]:
fruits

In [ ]:
fruits = fruits[:4]

In [ ]:
fruits

In [ ]:
## Insert
fruits.append('orange')
fruits.insert(1,'Watermelon')

In [ ]:
fruits
fruits.insert(1,'bananna')

In [ ]:
fruits

In [ ]:
fruits.remove('bananna') # remove the 1st occurace of a item

In [ ]:
fruits.pop() # remove the last element in the list and return it

In [ ]:
fruits

In [ ]:
fruits.index('Cherry') # get the index of any item

In [ ]:
fruits.insert(2,'Banana')

In [ ]:
print(fruits.count('Banana'))

In [ ]:
fruits.sort() #sort the list in ascending order

In [ ]:
fruits

In [ ]:
fruits.reverse() # reverse all the element

In [ ]:
fruits

In [ ]:
fruits.clear() # remove all items from the list

In [ ]:
fruits

In [ ]:
### Slicing Lists
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

In [ ]:
### Itetrating Over List

for num in numbers:
    print(num)

In [ ]:
# iteratring with index
for index,numbers in enumerate(numbers):
    print(index,numbers)

In [ ]:
square = []
for x in range(10):
    square.append(x**2)
print(square)

In [ ]:
## List Comprehension
sq = [ x**2 for x in range(10)]
print(sq)

Syntax List Comprehension

- Basic Syntax [expression for item in iterable]
- with conditional logic -> [expression for item in iterable condition]
- Nested list comprehension -> [expression for item in iterable for item2 in iterable2]

In [ ]:
# basic list comprehension
sq_all = [x**2 for x in range(10)]
sq_all

In [ ]:
## List comprehension
lst = []
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

In [ ]:
[num for num in range(20) if(num%2==0)]

In [ ]:
[ i*j for i in range(4) for j in range(4)]

In [ ]:
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [ (i,j) for i in lst1 for j in lst2]
print(pair)

In [ ]:
## List comprehension with function call

words = ["hello","world","python","list","comprehension"]
lengths = [len(word) for word in words]
print(lengths)

### Tuples

Ordered collection of items and they are immutable

In [ ]:
empty_tuple = ()
print(type(empty_tuple))
print(empty_tuple)

In [ ]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

In [ ]:
numbers = tuple([1,2,3,4,5,6])
numbers

In [ ]:
list((1,2,3,4))

In [ ]:
mixed_tuple = (1,'Hello-world',3.14,True)
print(mixed_tuple)

In [ ]:
##  Accessing tuple elements
numbers

In [ ]:
numbers[0]

In [ ]:
numbers[2]

In [ ]:
print(numbers[2])

In [ ]:
print(numbers[-1])

In [ ]:
numbers[0:4]

In [ ]:
numbers[::]

In [ ]:
numbers[::-1]

In [ ]:
## tuple operations
concat_tuples = numbers + mixed_tuple

In [ ]:
concat_tuples

In [ ]:
mixed_tuple * 3

In [ ]:
numbers * 3

In [ ]:
## Immutable nature of tuples
# tuples are immutable elements can be changed once assigned
lst = [1,2,3,4,5]
print(lst)

In [ ]:
lst[1] = 'Krish'
print(lst)

In [ ]:
tupl = tuple(lst)
# tupl[1] = 'K' element cannot be changed once assigned

In [ ]:
## tuples Methods

print(numbers.count(2))
print(numbers.index(3))

In [ ]:
## Packing and Unpacking tuple
packed_tuple = 1,"hello",3.14
print(packed_tuple)

In [ ]:
# unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

In [ ]:
numbers = (1,2,3,4,5,6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

In [ ]:
## Nested Tuple
# Nested list
lst = [[1,2,3,4,5],[6,7,8,9],[1,'Hello',3.14,'c']]
lst[0]

In [ ]:
lst[0][0:3]

In [ ]:
lst[2][0:3]

In [ ]:
nested_tuples = ((1,2,3),(4,5,6),(7,8,9))
print(nested_tuples[0])

In [ ]:
## iterating over nested tuples
for sub_tuple in nested_tuples:
    for item in sub_tuple:
        print(item,end=" ")
    print("\n")

### Dictionaries in Python
unordered collection of items, store data in key-value pairs. Keys must be uniqe and immutable (eg. strings, numbers, or tuples) while values can be of any-type

In [ ]:
empty_dict = {}
type(empty_dict)

In [ ]:
empty_dict = dict()
type(empty_dict)

In [ ]:
student = {'name':'Krish','age':32,'grade':24}
print(student)
print(type(student))

In [ ]:
## accessing dictionary elements
student['grade']
student['age']

# accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

In [ ]:
# Modifying Dictionary elements
## dictionary are mutable, so you can add, update or delete elements
print(student)

In [ ]:
student['age'] = 33
print(student)
student['address'] = 'India'
print(student)

In [ ]:
del student['grade']
print(student)

In [ ]:
## common dictionary methods
keys = student.keys()
print(keys)
values = student.values()
print(values)

In [ ]:
items = student.items()
print(items)

In [ ]:
## shallow copy
student_copy = student
print(student)
print(student_copy)

In [ ]:
student['name'] = 'Krish1'

In [ ]:
print(student)
print(student_copy)

In [ ]:
### Iterating over dictionary
## You can use loops to iterate over dictionaries, keys , values, or items

# iterating over keys
for keys in student.keys():
    print(keys)

In [ ]:
## Iterate over values
for value in student.values():
    print(value)

In [ ]:
## Iterate over key-value pairs
for key,value in student.items():
    print(f'{key}:{value}')

In [ ]:
## Nested Dictionaries
students = {
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}

}
print(students)

In [ ]:
print(students['student1'])

In [ ]:
print(students['student2'])

In [ ]:
## Iterating over nested dictionaries
for student_id, student_info in students.items():
    print(f'{student_id}:{student_info}')
    for key,value in student_info.items():
        print(f'{key}:{value}')

In [ ]:
## dictionary comprehension
squares = { x:x**2 for x in range(5)}
print(squares)

In [ ]:
## Conditional dictionary comprehension
evens = {x:x**2 for x in range(10) if x%2==0}
print(evens)

In [ ]:
## Practical Examples

## Use the dictionary to count the frequency of elements in list

numbers = [1,2,3,3,3,4,4,4,4]

frequency = {x:numbers.count(x) for x in numbers}

In [ ]:
frequency

In [ ]:
## Merge two dictionaries

dict1 = {"a":1, "b":2}
dict2 = {"b":3, "c":4}

merged_dict = {**dict1, **dict2}

In [ ]:
merged_dict

In [ ]:
to_do_list = ['Buy Groceires','Clean the house','Pay bills']

# adding to task
to_do_list.append("Schedule meeting")
to_do_list.append("Go For a Run")

# remove a completed task
to_do_list.remove('Clean the house')

# checking if a task is the list
if 'Pay bills' in to_do_list:
    print("Don't forget to pay the utility bills")

print("To do List remaning")

for task in to_do_list:
    print(f'-{task}')

### Functions in Python

In [ ]:
# def function_name(parameter):
#     """Doc String"""
#     return expression

In [ ]:
num = 24
if num%2 == 0:
    print('The number is even')
else:
    print('The number is odd')

In [ ]:
def even_or_odd(num):
    """ This function finds even or odd"""
    if num%2==0:
        print('The number is even')
    else:
        print('The number is odd')

In [ ]:
help(even_or_odd)

In [ ]:
even_or_odd(24)

In [ ]:
# functions with multiple parameters