In [47]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is A233-E5E9

 Directory of D:\Git\Machine-Learning-Basics\Kaggle Competitons\flight-delays-fall-2018

31-08-2024  23:30    <DIR>          .
31-08-2024  22:47    <DIR>          ..
31-08-2024  22:50    <DIR>          .ipynb_checkpoints
31-08-2024  23:30            17,916 Flight delays.ipynb
31-08-2024  22:46         3,287,258 flight_delays_test.csv
31-08-2024  22:47         3,488,296 flight_delays_train.csv
31-08-2024  22:47         1,178,005 sample_submission.csv
               4 File(s)      7,971,475 bytes
               3 Dir(s)  34,538,139,648 bytes free

In [48]:
import numpy as np
import pandas as pd

In [49]:
df_train = pd.read_csv('flight_delays_train.csv')
df_test = pd.read_csv('flight_delays_test.csv')

In [50]:
df_train.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y

In [51]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month              100000 non-null  object
 1   DayofMonth         100000 non-null  object
 2   DayOfWeek          100000 non-null  object
 3   DepTime            100000 non-null  int64
 4   UniqueCarrier      100000 non-null  object
 5   Origin             100000 non-null  object
 6   Dest               100000 non-null  object
 7   Distance           100000 non-null  int64
 8   dep_delayed_15min  100000 non-null  object
dtypes: int64(2), object(7)
memory usage: 6.9+ MB

In [52]:
df_train.Month.unique()

array(['c-8', 'c-4', 'c-9', 'c-11', 'c-10', 'c-1', 'c-7', 'c-6', 'c-5',
       'c-3', 'c-12', 'c-2'], dtype=object)

### Data Pre-processing

In [53]:
df_train['Month'] = df_train['Month'].str.split("-").str[1].astype('int64')

In [54]:
df_train['DayofMonth'] = df_train['DayofMonth'].str.split("-").str[1].astype('int64')

In [55]:
df_train['DayOfWeek'] = df_train['DayOfWeek'].str.split("-").str[1].astype('int64')

In [56]:
df_train.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,8,21,7,1934,AA,ATL,DFW,732,N
1,4,20,3,1548,US,PIT,MCO,834,N
2,9,2,5,1422,XE,RDU,CLE,416,N
3,11,25,6,1015,OO,DEN,MEM,872,N
4,10,7,6,1828,WN,MDW,OMA,423,Y

In [57]:
df_train.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,8,21,7,1934,AA,ATL,DFW,732,N
1,4,20,3,1548,US,PIT,MCO,834,N
2,9,2,5,1422,XE,RDU,CLE,416,N
3,11,25,6,1015,OO,DEN,MEM,872,N
4,10,7,6,1828,WN,MDW,OMA,423,Y

In [58]:
df_train.UniqueCarrier.unique()

array(['AA', 'US', 'XE', 'OO', 'WN', 'NW', 'DL', 'OH', 'AS', 'UA', 'MQ',
       'CO', 'EV', 'DH', 'YV', 'F9', 'AQ', 'TZ', 'HP', 'B6', 'FL', 'HA'],
      dtype=object)

In [62]:
df_train.UniqueCarrier.nunique()

22

In [60]:
df_train.Origin.nunique()

289

In [61]:
df_train.Dest.nunique()

289