## Encodings

### Nominal (OHE-One hot encoding)

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame({'color':['red','blue','green','red','green','green','blue','blue']})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3    red
4  green

In [4]:
#create an instance of One hot encoder
encoder = OneHotEncoder()

In [5]:
encoder.fit_transform(df[['color']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [6]:
encoded = encoder.fit_transform(df[['color']])

In [7]:
df2 = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [8]:
df2.head()

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0

In [9]:
df_final = pd.concat([df,df2],axis=1)

In [10]:
df.head()

   color
0    red
1   blue
2  green
3    red
4  green

In [11]:
df2.head()

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0

In [12]:
df_final.head()

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4  green         0.0          1.0        0.0

### Assignment: 
Apply in tips dataset

In [13]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [14]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [63]:
# Here we can see sex, smoker, time

In [15]:
tips['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [16]:
tips['smoker'].unique()

['No', 'Yes']
Categories (2, object): ['Yes', 'No']

In [17]:
tips['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [18]:
tips['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
ohe = OneHotEncoder()
encoded = ohe.fit_transform(tips[['sex']])

In [21]:
# encoded.get_feature_names_out()
ohe.get_feature_names_out()

array(['sex_Female', 'sex_Male'], dtype=object)

In [22]:
sex_encoded = pd.DataFrame(encoded.toarray(),columns=ohe.get_feature_names_out())

In [23]:
sex_encoded.head()

   sex_Female  sex_Male
0         1.0       0.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         1.0       0.0

In [24]:
pd.concat([tips,sex_encoded],axis=1)
#performed one hot encoding of sex column

     total_bill   tip     sex smoker   day    time  size  sex_Female  sex_Male
0         16.99  1.01  Female     No   Sun  Dinner     2         1.0       0.0
1         10.34  1.66    Male     No   Sun  Dinner     3         0.0       1.0
2         21.01  3.50    Male     No   Sun  Dinner     3         0.0       1.0
3         23.68  3.31    Male     No   Sun  Dinner     2         0.0       1.0
4         24.59  3.61  Female     No   Sun  Dinner     4         1.0       0.0
..          ...   ...     ...    ...   ...     ...   ...         ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3         0.0       1.0
240       27.18  2.00  Female    Yes   Sat  Dinner     2         1.0       0.0
241       22.67  2.00    Male    Yes   Sat  Dinner     2         0.0       1.0
242       17.82  1.75    Male     No   Sat  Dinner     2         0.0       1.0
243       18.78  3.00  Female     No  Thur  Dinner     2         1.0       0.0

[244 rows x 9 columns]

In [25]:
smoker_ohe = ohe.fit_transform(tips[['smoker']])

In [26]:
smoker_encoded = pd.DataFrame(smoker_ohe.toarray(), columns = ohe.get_feature_names_out())

In [27]:
smoker_encoded.head()

   smoker_No  smoker_Yes
0        1.0         0.0
1        1.0         0.0
2        1.0         0.0
3        1.0         0.0
4        1.0         0.0

In [28]:
pd.concat([tips, smoker_encoded],axis=1)

,total_bill,tip,sex,smoker,day,time,size,smoker_No,smoker_Yes
0,16.99,1.01,Female,No,Sun,Dinner,2,1.0,0.0
1,10.34,1.66,Male,No,Sun,Dinner,3,1.0,0.0
2,21.01,3.50,Male,No,Sun,Dinner,3,1.0,0.0
3,23.68,3.31,Male,No,Sun,Dinner,2,1.0,0.0
4,24.59,3.61,Female,No,Sun,Dinner,4,1.0,0.0
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,1.0,0.0
240,27.18,2.00,Female,Yes,Sat,Dinner,2,0.0,1.0
241,22.67,2.00,Male,Yes,Sat,Dinner,2,0.0,1.0
242,17.82,1.75,Male,No,Sat,Dinner,2,1.0,0.0
243,18.78,3.00,Female,No,Thur,Dinner,2,1.0,0.0