## Encodings

### Nominal (OHE-One hot encoding)

In [49]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [50]:
df = pd.DataFrame({'color':['red','blue','green','red','green','green','blue','blue']})

In [51]:
df.head()

   color
0    red
1   blue
2  green
3    red
4  green

In [52]:
#create an instance of One hot encoder
encoder = OneHotEncoder()

In [53]:
encoder.fit_transform(df[['color']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [54]:
encoded = encoder.fit_transform(df[['color']])

In [55]:
df2 = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [56]:
df2.head()

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0

In [57]:
df_final = pd.concat([df,df2],axis=1)

In [58]:
df.head()

   color
0    red
1   blue
2  green
3    red
4  green

In [59]:
df2.head()

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0

In [60]:
df_final.head()

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4  green         0.0          1.0        0.0

### Assignment: 
Apply in tips dataset

In [61]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [62]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [63]:
# Here we can see sex, smoker, time

In [64]:
tips['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [65]:
tips['smoker'].unique()

['No', 'Yes']
Categories (2, object): ['Yes', 'No']

In [66]:
tips['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [67]:
tips['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [68]:
from sklearn.preprocessing import OneHotEncoder

In [69]:
ohe = OneHotEncoder()
encoded = ohe.fit_transform(tips[['sex']])

In [73]:
# encoded.get_feature_names_out()
ohe.get_feature_names_out()

array(['sex_Female', 'sex_Male'], dtype=object)

In [72]:
sex_encoded = pd.DataFrame(encoded.toarray(),columns=ohe.get_feature_names_out())

In [74]:
sex_encoded.head()

   sex_Female  sex_Male
0         1.0       0.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         1.0       0.0

In [76]:
pd.concat([tips,sex_encoded],axis=1)
#performed one hot encoding of sex column

     total_bill   tip     sex smoker   day    time  size  sex_Female  sex_Male
0         16.99  1.01  Female     No   Sun  Dinner     2         1.0       0.0
1         10.34  1.66    Male     No   Sun  Dinner     3         0.0       1.0
2         21.01  3.50    Male     No   Sun  Dinner     3         0.0       1.0
3         23.68  3.31    Male     No   Sun  Dinner     2         0.0       1.0
4         24.59  3.61  Female     No   Sun  Dinner     4         1.0       0.0
..          ...   ...     ...    ...   ...     ...   ...         ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3         0.0       1.0
240       27.18  2.00  Female    Yes   Sat  Dinner     2         1.0       0.0
241       22.67  2.00    Male    Yes   Sat  Dinner     2         0.0       1.0
242       17.82  1.75    Male     No   Sat  Dinner     2         0.0       1.0
243       18.78  3.00  Female     No  Thur  Dinner     2         1.0       0.0

[244 rows x 9 columns]